.header_reg {
  height: 10.6667vw;
  line-height: 10.6667vw;
  text-align: center;
  font-size: 5.3333vw;
  color: #1d2736;
  margin: 1.5em 0;
}

.reg_name {
  width: 80%;
  height: 5.3333vw;
  line-height: 5.3333vw;
  padding-bottom: 6.6667vw;
  margin: auto;
  font-size: 4.8vw;
}

.reg_name input {
  width: 70%;
  border: 1px solid #58bc58;
  border-top: none;
  border-left: none;
  border-right: none;
}

.reg_psw {
  width: 80%;
  height: 5.3333vw;
  line-height: 5.3333vw;
  padding-bottom: 2.6667vw;
  margin: auto;
  font-size: 4.8vw;
}

.reg_psw input {
  width: 70%;
  border: 1px solid #58bc58;
  border-top: none;
  border-left: none;
  border-right: none;
}

.reg_sub {
  margin-top: 8.6667vw;
  height: 15.6667vw;
}

.reg_sub .reg_sub_A {
  width: 80%;
  height: 12vw;
  background: #20a0da;
  color: #fff;
  margin-left: 10%;
  margin-top: 3%;
  font-size: 5.6vw;
  border-radius: 5rem;
  border: none;
}

.reg_yq {
  margin-top: 26.6667vw;
  height: 13.3333vw;
  display: flex;
  justify-content: center;
}

.reg_yq .yq_li {
  width: 10.9333vw;
  height: 10.9333vw;
  background: url(http://static1.mtime.cn/html5/20200116143308/images/2014/o_sina.png) no-repeat;
  background-size: 100%;
  margin-right: 4vw;
}

.reg_yq .yq_li2 {
  width: 10.9333vw;
  height: 10.9333vw;
  background: url(http://static1.mtime.cn/html5/20200116143308/images/2014/o_qq.png) no-repeat;
  background-size: 100%;
}

.reg_con {
  width: 100%;
  font-size: 4.2667vw;
  text-align: center;
}

.reg_con a {
  color: #58b;
}
