.head_img {
    color: #333;
    display: block;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    height: 45.3333vw;
    z-index: 2;
    margin-top: -4.4em;
    background: url(http://static1.mtime.cn/html5/20200116143308/images/2014/set_endlogin.jpg) no-repeat;
    background-size: cover;
    padding: 0 1.5em 0 2.5em;
    display: flex;
    justify-content: space-between;
    .head_tou {
        width: 100%;
        display: -webkit-box;
        -webkit-box-align: center;
        padding-top: 11.2vw;

        i {
            display: inline-block;
            width: 17.3333vw;
            height: 17.3333vw;
            line-height: 1;
            vertical-align: middle;
            border-radius: 10em;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        dl {
            color: #fff;
            margin-left: 4vw;

            dt {
                margin: .6em 0 1em;
                font-size: 5.0667vw;
                display: inline-block;
                vertical-align: middle;
            }

            dd {
                font-size: 3.7333vw;
            }
        }
    }
    .head_ff{
        width: 40%;
        display: -webkit-box;
        -webkit-box-align: center;
        padding-top: 11.2vw;
        font-size: 4.2667vw;
       button{
        background: #1a2158;
        color: #fff;
       }
    }
}

.head_one {
    margin-bottom: 6.6667vw;

    .one_ul {
        color: #333;
        display: block;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        padding: 0rem 1.5rem 0rem;
        background: white;
        position: relative;
        margin-bottom: -0.5rem;
        height: 40vw;

        .one_li {
            width: 33.2%;
            float: left;
            margin-top: 8.3333vw;

            .one_i {
                display: block;
                // vertical-align: middle;
                overflow: hidden;
                width: 14.1333vw;
                height: 14.1333vw;
                border-radius: 5rem;
                background: #ffb059 url(http://static1.mtime.cn/html5/20200116143308/images/2014/i_cate.png) no-repeat center center;
                background-size: auto;
                margin: 0 auto;
                text-align: center;
            }

            .two_i {
                display: block;
                // vertical-align: middle;
                overflow: hidden;
                width: 14.1333vw;
                height: 14.1333vw;
                border-radius: 5rem;
                background: #78BDFD url(http://static1.mtime.cn/html5/20200116143308/images/2014/i_movie.png) no-repeat center center;
                background-size: 70%;
                margin: 0 auto;
                text-align: center;
            }

            .three_i {
                display: block;
                // vertical-align: middle;
                overflow: hidden;
                width: 14.1333vw;
                height: 14.1333vw;
                border-radius: 5rem;
                background: #ff815a url(http://static1.mtime.cn/html5/20200116143308/images/2014/i_shop.png) no-repeat center center;
                background-size: 70%;
                margin: 0 auto;
                text-align: center;
            }

            .one_p {
                text-align: center;
                line-height: 1;
                -webkit-tap-highlight-color: transparent;
                box-sizing: border-box;
                font-size: 3.7333vw;
                color: #777;
                padding: 2.6667vw 0;
            }
        }
    }
}

.main {
    .main_ul {
        height: 69.6vw;
        background: #fff;
        padding: 0 0 0 1.3333vw;
        box-shadow: 1px 1px .3em rgba(51, 51, 51, 0.1);
        margin-bottom: 1.6vw;

        .main_li {
            // box-sizing: border-box;
            padding: 1.0667vw 1.3333vw 1.0667vw 0;
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            border-bottom: 1px solid #ccc;
            height: 11.5vw;
            line-height: 11.5vw;
            line-height: 1;

            .li_left {
                display: flex;
                padding-top: 3.3333vw;

                i {
                    display: inline-block;
                    height: 5.6vw;
                    width: 8vw;
                    float: left;

                    .i_img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .li_p {
                    flex: 1;
                    font-size: 4.8vw;
                    line-height: 1.6;
                    margin-left: 2.6667vw;
                }
            }

        }
    }

}

.am-icon {
    padding-top: 3.3333vw;
}

.feedback{

    .main_ul{
        background: #fff;
        padding: 0 0 0 1.3333vw;
        box-shadow: 1px 1px .3em rgba(51, 51, 51, 0.1);
        margin-bottom: 1.6vw;
        .main_li{
            padding: 1.0667vw 1.3333vw 1.0667vw 0;
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            border-bottom: 1px solid #ccc;
            height: 11.5vw;
            line-height: 11.5vw;
            line-height: 1;
            .li_p{
                box-sizing: border-box;
                flex: 1;
                font-size: 4.8vw;
                line-height: 1.6;
                padding-top: 2.6667vw;
            }
        }
    }
}
.fot_but{
display: block;
-webkit-tap-highlight-color: transparent;
box-sizing: border-box;
padding: 0 2vw 0;
margin-top: 6vw;
margin-bottom: 4vw;
.fot_button{
    background: #f13900;
    border-radius: 6.6667vw;
    color: #fff;
    font-size: 5.6vw;

}
}