.home {
  width: 1.3333vw;
}

.header {
  height: 16vw;
  align-items: center;
  display: flex;
  background: #f6f6f6;
  border-bottom: 1px solid #ccc;
  font-size: 4.5333vw;
}

.header .dizhi {
  width: 20%;
  height: 11.7333vw;
  line-height: 11.7333vw;
  background: #f6f6f6;
  text-align: center;
  font-size: 5.3333vw;
}

.header .am-search {
  width: 80%;
  background: none;
}

.header .am-search .am-search-input {
  border: 1px solid #ccc;
}

.header .am-search-cancel {
  display: none;
}

.showing {
  height: 68.4vw;
  padding: 1.3333vw 4.6667vw;
  background: #fff;
}

.showing ul {
  padding-top: 2.3333vw;
  height: 45.6vw;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.showing ul h2 {
  width: 90.9067vw;
  height: 11.2vw;
  line-height: 11.2vw;
  color: #333333;
  float: left;
}

.showing ul h2 .showing_icon {
  float: right;
  margin-top: 2.6667vw;
}

.showing ul li {
  padding-top: 1.3333vw;
  width: 22.6667vw;
  height: 45.84vw;
  font-size: 4.2667vw;
  text-align: center;
  float: left;
}

.showing ul li img {
  width: 20.2667vw;
  height: 30.2vw;
  margin: auto;
}

.showing ul li p {
  margin-top: 1.6667vw;
}

.showing .indexclick {
  height: 14.6667vw;
  line-height: 14.6667vw;
}

.showing .indexclick h2 {
  width: 90.9067vw;
  height: 11.2vw;
  line-height: 11.2vw;
  color: #333333;
  float: left;
}

.showing .indexclick h2 .showing_icon {
  float: right;
  margin-top: 2.6667vw;
}

.falls .falls_img {
  height: 50vw;
  margin: 2.6667vw 0;
}

.falls .falls_img img {
  width: 100%;
  height: 100%;
}

.falls .falls_s {
  padding: 1.3333vw 4.6667vw 0;
}

.falls .falls_s .falls_h2 {
  font-size: 5.6vw;
  height: 11.2vw;
  line-height: 11.2vw;
}

.falls .falls_s .falls_ul .big_li {
  margin-bottom: 5.3333vw;
  border-bottom: 1px solid #ccc;
}

.falls .falls_s .falls_ul .big_li .big_img {
  width: 100%;
  margin-bottom: 5.3333vw;
}

.falls .falls_s .falls_ul .big_li .falls_text {
  font-size: 4.8vw;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4.3333vw;
}

.falls .falls_s .falls_ul .big_li .big_time {
  padding: 1.3333vw 0;
  margin-bottom: 2.6667vw;
  color: #999999;
}

.falls .falls_s .falls_ul .three_li {
  margin-bottom: 5.3333vw;
  border-bottom: 1px solid #ccc;
  height: 41.3333vw;
}

.falls .falls_s .falls_ul .three_li .falls_text {
  font-size: 4.8vw;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4.3333vw;
}

.falls .falls_s .falls_ul .three_li .three_img {
  height: 20vw;
  width: 33%;
  padding: 0 .15vw;
  margin-bottom: 3.6667vw;
  float: left;
}

.falls .falls_s .falls_ul .three_li .three_time {
  margin-bottom: 2.6667vw;
  color: #999999;
}

.falls .falls_s .falls_ul .small_li {
  margin-bottom: 5.3333vw;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.falls .falls_s .falls_ul .small_li .small_img {
  width: 34.9333vw;
  height: 24.5333vw;
}

.falls .falls_s .falls_ul .small_li .small_right {
  padding-left: 3.3333vw;
}

.falls .falls_s .falls_ul .small_li .small_right .small_text {
  font-size: 4.8vw;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4.3333vw;
}

.falls .falls_s .falls_ul .small_li .small_right .small_time {
  color: #999999;
}

.more {
  color: blue;
}

.more .more_text {
  margin: 2.6667vw 0;
  font-size: 4.8vw;
  text-align: center;
}
