.find_ul{
    height: 12.5333vw;
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    li{
        width: 25%;
        height: 12.5333vw;
        line-height: 12.5333vw;
        text-align: center;
        font-size: 4.2667vw;
        color: #1e7dd7;
    }
}

.find_swi{
    height: 66.1333vw;
    img{
        width: 100%;
        height: 100%;
    }
}
.find_list{

    .find_list_ul{
        padding-left: 4.5333vw;
        .find_list_li{
            height: 22.3333vw;
            padding: 4.5333vw 0 4vw;
            margin: auto;
            display: flex;
            .find_li_left{
                width: 30%;
                img{
                width: 22.1333vw;
                height: 22.1333vw;
                }
            }
            .find_li_right{
                width: 70%;
                .right_name{
                    font-size: 4.8vw;
                    color: #333;
                    font-weight: 600;
                    margin-bottom: 2.6667vw;
                }
                .right_time{
                    font-size: 3.2vw;
                    color: #999999;
                }
            }
        }
    }
}