.tick_header {
  height: 12vw;
  line-height: 12vw;
  background: #f6f6f6;
  padding: 2.6667vw 4.8vw 2.4vw;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d8d8d8;
}

.tick_header .tick_left {
  width: 14vw;
}

.tick_header .tick_input {
  width: 45.8667vw;
  height: 9.3333vw;
  font-size: 5.3333vw;
  font-size: 4.2667vw;
  background: #fff;
}

.tick_header .tick_sear {
  width: 19.2vw;
  height: 9.0667vw;
  font-size: 3.7333vw;
  color: #333;
  margin-top: .5333vw;
}

.tick_ul {
  height: 10.9333vw;
  display: flex;
  justify-content: space-around;
  color: #777777;
  border-bottom: 1px solid #d8d8d8;
}

.tick_ul .tick_li {
  height: 10.6667vw;
  line-height: 10.6667vw;
  text-align: center;
}

.tick_main {
  width: 100%;
  background: #fff;
}

.tick_main img {
  width: 32vw;
  height: 32vw;
  margin: auto;
}

.tick_main p {
  font-size: 4vw;
  color: #999;
  text-align: center;
  margin: 8.3333vw 0;
}

.tick_main button {
  width: 23.2vw;
  height: 9.3333vw;
  font-size: 4.2667vw;
  text-align: center;
  line-height: 9.33vw;
  background: none;
  border: 1px solid #999;
  margin-left: 38%;
}

.tick_zy {
  height: 8vw;
  line-height: 8vw;
  font-size: 3.4667vw;
  background: #f6f6f6;
  color: #999999;
  text-align: center;
}

.tick_fotul {
  background: #ffffff;
}

.tick_fotul .tick_fotli {
  height: 10vw;
  margin-left: 2.6667vw;
  padding: 4vw 4vw 4vw 0;
  border-bottom: 1px solid #d8d8d8;
}

.tick_fotul .tick_fotli .fotli_name {
  color: #333;
  font-size: 4.2667vw;
  margin-bottom: 1.3333vw;
}

.tick_fotul .tick_fotli .fotli_title {
  font-size: 3.4667vw;
  color: #333;
}
