.App {
  text-align: center;

}

.AppNav {
  width: 100%;
  height: 13.7333vw;
  line-height: 13.7333vw;
  display: flex;
  justify-content: space-around;
  background: #000;
  color: #fff;
  font-size: 4.5333vw;
}

.NavBack {
  display: inline-block;
  width: 13.7333vw; 
  height: 9.7333vw;
  margin-top: 3.9vw;
  background: url(./assets/logo.png) no-repeat;
  background-size: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}