@charset "utf-8";
html,
body{
    width: 100%;
    height: 100%;
}
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
i,
em,
tr,
td,
ul,
ol,
li,
input,
form,
button,
b,
p,
strong,
br,
table,
dl,
dt,
dd,
select,
textarea,
section,
article,
aside,
header,
footer,
nav,
main,
figure,
figcaption,
mark{
    padding: 0;
    margin: 0;
}
img{
    display: block;
    border:0;
}
a{
    text-decoration: none;
    color: #bbbbbb;
}
ul,
ol,
li{
    list-style: none;
}
.fd::after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
} 

